{% extends 'base.html' %}
{% load static %}

{% block page_title %}All Posts{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'app1/all_posts.css' %}"/>
<link rel="stylesheet" href="{% static 'app1/posts.css' %}" />
{% endblock css_files %}


{% block header %}
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">World Best Blogs</a></h1>
        <nav>
            <a href="{% url 'all-posts' %}">All Posts</a>
        </nav>
    </header>
{% endblock %}

{% block content %}
<section id="all-posts">
<h2>All Posts</h2>
<ul>
    {% for post in posts %}
        {% include 'app1/includes/post_summary.html' with post=post%}
    {% endfor %}
</ul>
</section>

{% endblock content %}


