{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ post.title|title }}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'app1/post_detail.css' %}" />
{% endblock %}


{% block header %}
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">World Best Blogs</a></h1>
        <nav>
            <a href="{% url 'all-posts' %}">All Posts</a>
        </nav>
    </header>
{% endblock %}



{% block content %}
<section id="summary">
<h2>{{ post.title|title }}</h2>
<article>
    <img src="{% static 'app1/images/'|add:post.image %}" alt=""/>
    <address>{{ post.author }}</address>
    <div>
        Last Updated on <time>{{ post.date|date:"d M Y" }}</time>
    </div>
</article>
</section>
<main>
    {{ post.content|linebreaks }}
</main>
{% endblock %}